# Virtual Environment
.venv/
venv/
env/

# Dataset (large files)
dataset/

# Duplicate / unused trained models
models/best_food_cnn.keras
models/best_food_vgg16.keras
models/best_food_resnet50.keras

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm IDE Files
.idea/

# VS Code Files
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Streamlit Secrets
.streamlit/secrets.toml

# Temporary Files
*.log